body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Lato", sans-serif;
    background-image: url("https://source.unsplash.com/1600x900/?weather,landscape");
    background-size: cover;
}

input[type="text"] {
    font-size: 0.7rem;
}

h2 {
    font-size: 0.9rem;
}

#card {
    background-color: var(--weather-form-color);
    color: var(--primary-text-color);
    padding: 1rem;
    border-radius: 30px;
    margin: 1rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0.5rem;
    border-radius: 40px;
    border: none;
    outline: none;
    height: 1.8rem;
    width: 1.8rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

button:hover {
    background-color: var(--primary-light-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search-bar {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: var(--primary-text-color);
    font-family: inherit;
    width: calc(100% - 100px);
}

.overview {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: solid 1px var(--grey-bg-color);
    border-radius: 1rem;
    padding: 1rem;
    align-items: center;
}

.hover:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.filled-primary-color {
    background-color: var(--primary-color);
}

.day {
    font-size: 1rem;
    font-style: italic;
    text-decoration: underline;
}

.forecast {
    padding: 0 0.15rem;
    font-size: 0.7rem;
}

@media screen and (min-width: 500px) and (max-width: 940px) {
    input[type="text"] {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #card {
        padding: 1.5rem;
    }

    .search {
        padding: 0.5rem 0;
    }

    button {
        height: 2.8rem;
        width: 2.8rem;
    }

    .search-bar {
        padding: 0.8rem 1.5rem;
        border-radius: 34px;
    }

    .day {
        font-size: 1.5rem;
    }

    .forecast {
        padding: 1rem 0.5rem;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 940px) {
    input[type="text"] {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    #card {
        padding: 2rem;
    }

    button {
        height: 2.5rem;
        width: 2.5rem;
    }

    .search {
        margin-bottom: 1rem;
    }

    .search-bar {
        border-radius: 40px;
    }

    .overview {
        display: flex;
        gap: 1rem;
    }

    .details {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        padding: 1rem 0 1rem 1rem;
    }

    .day {
        font-size: 2rem;
    }

    .forecast {
        font-size: 1.5rem;
    }
}
