body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Lato", sans-serif;
    background-image: url("https://source.unsplash.com/1600x900/?weather, landscape");
    background-repeat: no-repeat;
    background-size: cover;
}

#card {
    background-color: var(--weather-form-color);
    color: var(--primary-text-color);
    padding: 2rem;
    border-radius: 30px;

    margin: 1rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0.5rem;
    border-radius: 80px;
    border: none;
    outline: none;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

button:hover {
    background-color: var(--primary-light-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search-bar {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    background-color: var(--primary-text-color);
    font-family: inherit;
    font-size: 1.2rem;
    width: calc(100% - 120px);
}

.overview {
    display: flex;
    gap: 1rem;
    border: solid 1px var(--grey-bg-color);
    border-radius: 1rem;
    padding: 1rem;
    align-items: center;
}
.overview:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.day {
    font-style: italic;
    text-decoration: underline;
}
